---
import Layout from "../layouts/Layout.astro"
import { getEntry } from "astro:content"

const homeDetails = await getEntry("general", "general")
---

<Layout title="">
    <main>
        <h1>
            {homeDetails.data.title}
        </h1>
        <h3><a href="/admin">Admin Page</a></h3>
        <h3><a href="/blog">Blog Example</a></h3>
    </main>
</Layout>

<style>
    main {
        text-align: center;
    }
</style>
